    <article class="post">
      <div class="title">{{title}}</div>
      <div class="body">{{post_data}}</div>
      <div class="meta">
        by {{user.username}} on
        {{format_date created_at}}
        ({{vote_count}}  {{format_plural "like" vote_count}})
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>